extends layout

script(src="//ajax.googleapis.com/ajax/libs/dojo/1.9.1/dojo/dojo.js" data-dojo-config="has:{'dojo-debugging-messages':true}, foo: 'bar', async: 1, isDebug: 1")

block content
  h1= title
  p Welcome to #{title}