#stocks-stream
	#stocks-symbols
#stocks-details 
	#t-d-symbol.t-d-data 
		span#t-d-symb-val SYMB
		#t-d-name.t-d-data Symbol, Inc.
	#t-d-summary.t-d-data
		#t-d-s-price-high(class="t-d-data t-d-s-price") 
			.t-d-s-p-value 
				span#t-d-s-p-high-val 0.00
				.t-d-s-p-label High: 
		#t-d-s-price-avg(class="t-d-data t-d-s-price")
			.t-d-s-p-value 
				span#t-d-s-p-avg-val 0.00
				.t-d-s-p-label Avg: 
		#t-d-s-price-low(class="t-d-data t-d-s-price")
			.t-d-s-p-value 
				span#t-d-s-p-low-val 0.00
				.t-d-s-p-label Low: 
	#t-d-volume.t-d-data Volume:  
		span#t-d-v-val 100000
#stocks-analytics

h1 Stock & Mutual Fund Analytics on Cloud 
#reportUI
#chartNode(class="chartStyle")